@model ListOfProductsHandler.Models.AuthorizationOptions
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
</head>
<body style="text-align: center">

    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Авторизация</h1>
        <input type="text" required="required" placeholder="Логин" asp-for="Name"/> <br/><br/>
        <input type="password" required="required" placeholder="Пароль" asp-for="Password"/> <br/><br/>
        <button type="submit">Принять</button>
    </form> <br/>
    <div>
        <a asp-controller="Home" asp-action="Index">Вернуться на главную</a>
    </div>

    @if (ViewData["ValidateMessage"] != null) {
        <br/>
        <br/>
        <label>
            @ViewData["ValidateMessage"]
        </label>
    }

</body>
</html>
